@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html,

body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: auto;
}

body {
  background-image: url("images/oreo_wonderfilled.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}


h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
}

img {
  width: 30%;
  max-width: 300px;
  min-width: 300px;
  height: auto;
  margin: auto;
  display: block;
  margin-top: 20px;
}


p {
  text-align: center;
  border: 10px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Slabo", sans-serif;
  font-size: 20px;
}

a {
  margin: 2em auto 4em auto;
  margin: 2em auto 2em auto;
  text-align: center;
  display: table;
  color: white;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration:none;
  padding: 0.5em;
  background-color: black;
  border-radius: 5px;
}

hr{
  margin-left: auto;
  margin-right: auto;
  color: black;
  margin: 0px;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
  overflow:hidden;
  margin: 0px;
}
